@model Tarefa;

<div class="container">
    <div class="row">

        <div class="col-md-8 mb-5 mt-2">
            <h1>Detalhes da Tarefa <img src="../../img/menu-hamburguer.png" width="30" height="30" /></h1>

        </div>

        <div class="col-md-4 mb-5 mt-3">
            <p>
                <a asp-action="Index" class="btn btn-info">Voltar</a>
            </p>

        </div>

    </div>


</div>

<table class="table table-bordered border-warning rounded">
    <thead>
        <tr>

            <th>Id da Tarefa:</th>
            <th>Nome: </th>
            <th>Descrição:</th>
            <th>Data de Registro:</th>
            <th>Status:</th>
            <th>Prazo:</th>
            <th>Prioridade:</th>
            

        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.TarefaId</td>
            <td>@Model.Nome</td>
            <td>@Model.Descricao</td>
            <td>@Model.DataRegistro</td>
            <td>@Model.Status</td>
            <td>@Model.PrazoDesejado</td>
            <td><mark>@Model.Prioridade</mark></td>
            

            

        </tr>
        
    </tbody>




</table>




